{% extends 'base.html' %}
    {% block content %}
    <h1>欢迎登陆</h1>
    <p>还没有账号？点击<a href="{{url_for('register')}}">注册</a> </p>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <p>
            {{form.username.label}}<br>
            {{form.username(size=32)}}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.password.label}}<br>
            {{form.password(size=32)}}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.remember_me()}}<br>
            {{form.remember_me.label}}
        </p>
        <p>{{form.submit()}}</p>
    </form>
    {% endblock %}